@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#1E1E1E] overflow-hidden font-pt;
}

.sideBar-btn-icon {
  @apply text-4xl;
}

.sideBar-btn {
  @apply flex flex-col items-center hover:scale-105 duration-100;
}
.sideBarIconText {
  @apply text-sm
}

.inputLabel {
  @apply text-lg
}

.inputBox {
  @apply h-7 outline-none;
}

.addTodo {
  transition: 500ms ease;
}

.addTodo:hover {
  background-color: #577D8A;
  color: white;
  border-radius: 5px;
}

.loginOrsignupBtn {
  transition: 250ms linear;
  box-shadow: 0 0 5px 1px rgb(71, 71, 71);
}

.loginOrsignupBtn:hover {
  transform: scale(0.95);
}

.loginOrsignupBtn:active {
  transform: scale(0.9);
}

.deleteBtn {
  transition: 150ms ease-in-out;
}

.deleteBtn:hover {
  transform: scale(1.1);
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 300ms ease-in-out;
}